

body{
    background-color:rgb(241, 239, 239);
}

ul{
    margin-bottom:20px;
}

li{
    float:left;
    padding: 4px;
    list-style:none;
    color:black;
}

img{
    display:block;
    clear:both;
    padding:20px;
}

p{
    padding-left:20px;
}